.row-header{
  margin: 0px auto;
  padding: 0px ;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer{
  background-color: #60c0f7;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
 .jumbotron {
    margin: 0px auto;
    padding:50px 0px 50px 0px;
    color: floralwhite;
    background-size: cover;
    position:relative;
  }

.address{
  font-size:80%;
  margin:0px;
  color:black;
}
body{
  padding:70px 0px 0px 0px;
  z-index:0;
}
.navbar-dark{
  background-color: rgba(15, 120, 128, 0.856);
}

.carousel-inner img{
  display: block;
  height: auto;
  width: 100%;
  align-content: center;
}

.carousel-item {
height: 500px;
}

.carousel-item img {
  position: absolute;
  width:100%; 
   min-height: 300px;
}